* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
}

section.firstScreen {
  height: calc(100vh - var(--navHeight));
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-left: 48px;
  box-sizing: border-box;
  padding-bottom: 50px;
  position: relative;
}

p.firstScreenText {
  font-family: "Manrope", sans-serif;
  color: var(--white);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.48px;
  max-width: 700px;
}

.logoBig {
  width: 100%;
  aspect-ratio: 16/9;
}

.firstScreenContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: fit-content;
  padding-right: var(--firstScreenPadding);
  z-index: 2;
  pointer-events: none;
}

.desktopNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: var(--navHeight);
  padding: 0 var(--firstScreenPadding);
}

.navLinks {
  display: flex;
  gap: 24px;
  align-items: center;

  a {
    color: var(--white);
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 24px;

    &:last-child {
      position: relative;
      font-family: "MarkTheMoment", sans-serif;
      font-weight: 400;
      font-size: 24px;
      letter-spacing: 0;
      padding: 0;
      color: var(--black);
      margin-left: 25px;

      &::before {
        position: absolute;
        top: -11px;
        left: -25px;
        content: "";
        height: 100%;
        background-image: url("/buttonBG.svg");
        background-repeat: no-repeat;
        width: 170px;
        height: 42px;
        z-index: -1;
      }
    }
  }
}

.line {
  width: 1px;
  height: 30px;
  background-color: var(--white);
}

.logoSmall {
  max-width: 145px;
}

.burger {
  display: none;
}

#fallingText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

#fallingText canvas {
  cursor: grab;
  width: 100%;
  height: 100%;
}

@media (max-width: 854px) {
  .navLinks {
    display: none;
  }

  .burger {
    display: flex;
    cursor: pointer;
    max-width: 25px;
  }
}
